<!-- navbar -->
<nav class="navbar">
    <div class="navbar-center">
        <span class="nav-icon">
            <i class="fas fa-bars"></i>
        </span>
        <img src="css/images/logo.png" style="height: 50px;" alt="store logo">
        <div class="cart-btn">
            <span class="nav-icon">
                <a class="btn btn-dark" href="/" role="button">Home</a>
                <a class="btn btn-dark" href="/login" role="button">Login</a>
                <a class="btn btn-dark" href="/register" role="button">Register</a>
            </span>
        </div>
    </div>
</nav>
<!-- end of navbar -->

